schema/601/SimicaCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:IEEE-1636.99:2013:SimicaCommon" xmlns:c="urn:IEEE-1671:2010:Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:IEEE-1636.99:2013:SimicaCommon" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.00">
	<xs:annotation>
		<xs:documentation xml:lang="en">
		
This schema is specified in IEEE Std 1636.99, "Standard for Software Interface for Maintenance Information Collection and Analysis (SIMICA): Common Information
Elements." This schema is a World Wide Web Consortium (W3C) Extensible Markup Language (XML) binding of the "SIMICA Common" component defined in IEEE Std 1636.99.
The purpose of this schema is to allow the creation of IEEE Std 1636.1 and IEEE Std 1636.2 XML instance documents.This schema uses the W3C XML Schema definition language as the encoding.
This allows for interoperability and the exchange of SIMICA component instances between various systems.
This schema shall not be modified but may be included in derivative works. 

Copyright (c) 2013 Institute of Electrical and Electronics 
Engineers, Inc.

USE AT YOUR OWN RISK

    </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:IEEE-1671:2010:Common" schemaLocation="Common.xsd"/>
	<xs:simpleType name="RepairCode">
		<xs:annotation>
			<xs:documentation>Base type: restriction of xs:string
Enumerations: Replace | Reseat | Alignment | SoftwareUpdate | UserDefinedCode
This shall be used as the base type for the RepairType to specify permitted UUT repair codes.
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Replace"/>
			<xs:enumeration value="Reseat"/>
			<xs:enumeration value="Alignment"/>
			<xs:enumeration value="SoftwareUpdate"/>
			<xs:enumeration value="UserDefinedCode"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Extension" final="#all">
		<xs:annotation>
			<xs:documentation>The Extension complex type is provided for the convenience of XML schema developers. The Extension type shall be used only as the base type of extension elements in XML schemas. Such elements are provided to permit implementers to extend a XML schema as required to meet the unique needs of their use case. Use follows the W3C standard XML extension mechanism. 
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HardwareInstance">
		<xs:annotation>
			<xs:documentation>Base type for any element containing information characterizing a hardware item</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="c:HardwareInstance">
				<xs:group ref="SystemInstanceExtension"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentificationNumber">
		<xs:annotation>
			<xs:documentation>Base type for any element that needs to be identified</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="c:IdentificationNumber">
				<xs:attribute name="manufacturerName" type="c:NonBlankString" use="optional">
					<xs:annotation>
						<xs:documentation>Identifies the name of the manufacturer.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="qualifier" type="c:NonBlankString" use="optional">
					<xs:annotation>
						<xs:documentation>Provides additional descriptive data that further specifies or identifies the Identification Number.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MaintenanceAction">
		<xs:annotation>
			<xs:documentation>Base type for any element defining a specific action taken in the maintenance of some item or entity</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:choice maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This choice is necessary, as an instance document will either document the action resulting from maintenance or will capture the reason for non-action. For each maintenance element, one or more actions can be taken as a result of the required maintenance.</xs:documentation>
				</xs:annotation>
				<xs:element name="InstallAction" type="SystemInstance">
					<xs:annotation>
						<xs:documentation>Installation of either a repaired or new component into a unit to complete the repair.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RepairAction" type="RepairActionInformation">
					<xs:annotation>
						<xs:documentation>The work required to restore the unit to an operational state.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RemoveAction" type="SystemInstance">
					<xs:annotation>
						<xs:documentation>The removal of a component to effect a maintenance action.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="NoAction" type="c:ItemDescription">
				<xs:annotation>
					<xs:documentation>The reason for not being able to perform maintenance on the unit. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="c:NonBlankString">
				<xs:annotation>
					<xs:documentation>A detailed textual 	description of the maintenance action performed</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="actionID" type="xs:ID" use="required">
			<xs:annotation>
				<xs:documentation>A unique identifier for the maintenance action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>A user-friendly textual name for the maintenance action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startTime" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The date and time for the initiation of a maintenance event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The date and time for the 		termination of a maintenance event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="totalTime" type="xs:duration" use="required">
			<xs:annotation>
				<xs:documentation>The aggregate personnel time for the actual work duration of a maintenance event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="preventative" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Identifies whether or not the MaintenanceAction was performed as part of preventative 			maintenance (true) or not (false).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="actionCode" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>The code that best describes the maintenance action performed. Maintenance organizations typically have a list of organization-unique codes that best describe the reasons for maintenance action performed. This 		attribute provides a place to record that code. The meaning and interpretation of the code is implementation-specific.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RepairActionInformation">
		<xs:annotation>
			<xs:documentation>Base type for any element defining the work required to restore the unit to an operational state.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ItemRepaired" type="SystemInstance">
				<xs:annotation>
					<xs:documentation>Identification of the item that has been repaired</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairType" type="RepairCode">
				<xs:annotation>
					<xs:documentation>Value for the types of repair actions that can be taken. Allowable values are Rwpair,
Replace,
Reseat,
Alignment,
SoftwareUpgrade,
UserDefinedCode</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SoftwareInstance">
		<xs:annotation>
			<xs:documentation>Base type for any element that will contain information to identify a software item</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="c:SoftwareInstance">
				<xs:group ref="SystemInstanceExtension"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemInstance">
		<xs:annotation>
			<xs:documentation>Base type for any element describing an specific target of maintenance against which the maintenance action has been performed</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="c:ItemInstance">
				<xs:group ref="SystemInstanceExtension"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemInstanceReference">
		<xs:annotation>
			<xs:documentation>Base type for any element that require an element to reference a sc:SystemInstance which has no serial number.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="c:ItemInstanceReference"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Warranty">
		<xs:annotation>
			<xs:documentation>Base type for any element defining a manufacturer's legal responsibility for the support of a given system or item</xs:documentation>
		</xs:annotation>
		<xs:attribute name="warrantedBy" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>Name of the manufacturer which warrants the unit</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="duration" type="xs:duration" use="required">
			<xs:annotation>
				<xs:documentation>Time the unit is covered by the warranty, e.g. one-year warranty, two-year warranty, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="effectiveDate" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Date when the manufacturer warranty begins to take effect</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="exclusion" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>Discrepancies in the unit that are not covered by the warranty</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkOrder">
		<xs:annotation>
			<xs:documentation>Base type for any element defining identifying information for the item being maintained</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="c:WorkOrder"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="SystemInstanceExtension">
		<xs:annotation>
			<xs:documentation>Common System instances for all associated types</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IssueDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the item was issued as available for use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Warranty" type="Warranty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the warranty associated with an Instance of an System</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
</xs:schema>
