schema/601/TestResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tr="urn:IEEE-1636.1:2013:TestResults" xmlns:c="urn:IEEE-1671:2010:Common" xmlns:sc="urn:IEEE-1636.99:2013:SimicaCommon" targetNamespace="urn:IEEE-1636.1:2013:TestResults" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.01">
	<xs:annotation>
		<xs:documentation xml:lang="en">

This schema is specified in IEEE Std 1636.1, "IEEE Standard for Software Interface for Maintenance Information 
Collection and Analysis (SIMICA): Exchanging Test Results and Session Information via the extensible Markup Language (XML)"
 
This schema is a World Wide Web Consortium (W3C) Extensible Markup Language (XML) binding of the SIMICA TestResults component defined in IEEE
Std 1636.1,"IEEE Standard for Software Interface for Maintenance Information Collection and Analysis (SIMICA): Exchanging Test Results and Session Information via 
the eXtensible Markup Language (XML)."

The purpose of this schema is to allow the creation of IEEE Std 1636.1 TestResults instance documents. This schema uses the W3C XML Schema definition
language as the encoding. This allows for interoperability and  the exchange of ATML component instances between various systems. This schema shall not be modified but may be included in 
derivative works. 

Copyright (c) 2013 Institute of Electrical and Electronics Engineers, Inc.

USE AT YOUR OWN RISK

</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:IEEE-1671:2010:Common" schemaLocation="Common.xsd"/>
	<xs:import namespace="urn:IEEE-1636.99:2013:SimicaCommon" schemaLocation="SimicaCommon.xsd"/>
	<xs:simpleType name="OutcomeValue">
		<xs:annotation>
			<xs:documentation>This shall be used as the base type for any XML schema attribute or element that represent permitted values for a test outcome. In use, “Passed” shall indicate the results of a test were within specified limits. “Failed” shall indicate that the results of a test were not within specified limits. “Aborted” shall indicate that a test did not complete. "NotStarted" shall indicate that the test did not start. "UserDefined" shall indicate that the test outcome as been defined to be something other than one of the five enumerations available. "Unknown" shall indicate that the result of the test is not known.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Passed"/>
			<xs:enumeration value="Failed"/>
			<xs:enumeration value="Aborted"/>
			<xs:enumeration value="NotStarted"/>
			<xs:enumeration value="UserDefined"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SessionActionOutcomeValue">
		<xs:annotation>
			<xs:documentation>This shall be used as the base type for any XML schema attribute or element that represents permitted session action codes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Done"/>
			<xs:enumeration value="Aborted"/>
			<xs:enumeration value="NotStarted"/>
			<xs:enumeration value="UserDefined"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Action" abstract="true">
		<xs:annotation>
			<xs:documentation>The Action complex type shall be used to identify specific data related to any action(s) performed; either in/during the execution of a test. If an ATML Test Description instance document is identified by the /TestResults/TestDescription element, then the value of the 'referenceID' attribute shall be identical to the value of the 'ID' attribute of the Test Description Test Group, Test or SessionAction that was executed to generate the current Action. Otherwise, this referenceID attribute shall reference the test program entity that generated this Action, for example: line number, test number, step name, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="c:NonBlankString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify descriptive information for the parent element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Events" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used as a collector for session occurrences such as system or operator messages.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Event" type="tr:Event" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This element shall be used to identify non-result data or system/operator messages generated during a test</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Parameters" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify test parameter data.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parameter" type="tr:Parameter" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This element shall be used to identify a particular test parameter.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Data" type="c:Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify data associated with non-test actions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify environmental conditions which are related to a test.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Environmental" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This element shall be used as a collector for multiple sets of environmental data pertinent to a particular action. Identifies the environmental data that is pertinent to a particular action.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="c:NamedValue">
										<xs:attribute name="timeStamp" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Date and time associated with the environmental data. This attribute should be used where the time the data was recorded is significant within the overall context of a particular action.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="Extension" type="sc:Extension">
								<xs:annotation>
									<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>A descriptive or common name for the Action. The value of “ID” shall be unique within the context of the containing XML instance document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A user-friendly textual name for the Action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="userDefinedType" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A user defined textual “type” that will describe the non-test action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cost" type="xs:double" use="optional">
			<xs:annotation>
				<xs:documentation>The monetary cost value associated with performing the action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="simulated" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>A True/False indication as to whether or not the Action occurred during a simulated test.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startDateTime" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The beginning date and time of the action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The ending date and time of the action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="testReferenceID" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A reference to the test program entity that generated this Action or the ID of a Test Description Test, Test Group, or Session Action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="documentRequirementID" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>When an ATML Test Description instance document does not exist, this attribute can be used to track that a given result in the report maps to a given requirement from a requirements document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Event">
		<xs:annotation>
			<xs:documentation>This complex type shall identify non-result data or system/operator messages generated during a test.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Message" type="c:NonBlankString" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element permits the recording of textual data relevant to the subject event</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="c:NamedValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element permits the recording of structured event data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="c:Document" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify reference(s) to external items (e.g., documents).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>A descriptive or common name for the Event. The value of “ID” shall be unique within the context of the containing XML instance document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A user-friendly textual name for the Event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="severity" use="optional">
			<xs:annotation>
				<xs:documentation>An enumeration of 0-4 inclusive that shall indicate a severity level for the Event. It shall be presumed that a value of 0 indicates least severe. Successive values shall indicate increasing levels of severity with 4 indicating most severe.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="source" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>An identification of the source of the Event (e.g., operator or test system).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The date and time of the Event occurrence.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Indictments">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to indicate (1) that something is wrong with one or more subcomponents of the tested UUT or (2) which subcomponents of the tested UUT are the possible causes of a test failure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Indictment" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify the information for one subcomponent of the tested UUT, which is a possible cause of a test failure Multiple Indictment siblings shall be used to specify a set of UUT subcomponents of which one or more is the cause of the failure.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RepairActionRecommended" type="tr:RepairAction">
							<xs:annotation>
								<xs:documentation>Identifies the code and description used to describe the type of recommended repair.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceDesignator" type="tr:ReferenceDesignator">
							<xs:annotation>
								<xs:documentation>A subcomponent of the UUT corresponding to one of the most likely causes of the test failure</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="retestTestGroup" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>Identifies a group of tests to be run to verify the indicted components have been repaired.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="indictmentsDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The date and time that the indictments were made.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Outcome">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to identify test outcomes (i.e., Passed, Failed, or Aborted). If a ATML Test Description instance document is identified by the /TestResults/TestDescription element, then the value of the ‘referenceID’ attribute shall be identical to the value of the ‘ID’ attribute of the Test Description Outcome. Otherwise, this referenceID attribute shall reference the test program entity that generated this outcome, for example: line number, test number, step name, etc.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="value" type="tr:OutcomeValue" use="required">
			<xs:annotation>
				<xs:documentation>Shall contain one of the following enumerations: “Passed” shall indicate the results of a test were within specified limits. “Failed” shall indicate that the results of a test were not within specified limits. “Aborted” shall indicate that a test did not complete. "NotStarted" shall indicate that the test did not start. "UserDefined" shall indicate that the test outcome as been defined to be something other than one of the five enumerations available. "Unknown" shall indicate that the result of the test is not known.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="qualifier" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>Additional descriptive data for the 'value' attribute. For example, (…value=“Failed” qualifier=“High” …). In the case of (…value=“Aborted” …), qualifier shall provide essential descriptive or explanatory information regarding the reason for the test not completing normally.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="referenceID" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A reference to the test program entity that generated this outcome, or the ID of a Test Description outcome.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="forced" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>A True/False indication as to whether or not the recorded outcome is a user override of the observed outcome.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Parameter">
		<xs:annotation>
			<xs:documentation>This complex type provides a structure in which test parameters may be reported. Parameters are generally described as configuration or input values for a test.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="Description" type="c:NonBlankString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify unstructured, unrestricted textual descriptions of the Parameter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="c:Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall permit the recording of structured, restricted values of the Parameter</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="c:Document" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify any referential data. A typical example would be a reference to a document or location where run-time test parameters are stored. This would be useful in cases where such parameters are not permitted in the TestResults XML instance document due to security reasons.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>A descriptive or common name for the Parameter. The value of “ID” shall be unique within the context of the containing XML instance document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A user-friendly textual name for the Parameter.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The date and time associated with the Parameter. This shall be used where the time of application of a parameter is significant within the overall context of a test.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReferenceDesignator">
		<xs:annotation>
			<xs:documentation>This element shall be used as the base type for any element representing a reference designator, with optional descriptions of the designator and failure modes of the item the designator represents. Reference designators are used for the purpose of unambiguously identifying a component in an electrical schematic (circuit diagram) or on a printed circuit board (PCB). The reference designator usually consists of one or two letters followed by a number, e.g. R13, C1002. IEEE Std 315 Clause 22.4 contains a list of Class Designation Letters to use for electrical and electronic assemblies. For example, the letter R is the designation letter for the resistors of an assembly, C for capacitors, K for relays.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="c:NonBlankString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description that corresponds to the reference designator abbreviation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailureModes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The specific failure modes associated with the component indicated by the reference designator.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FailureMode" type="c:NonBlankString" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The specific failure mode associated with the component indicated by the reference designator.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="classLetterAndNumber" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>The IEEE Std 315 clause 22.4 Class Designation Letter and a numerical number, for the reference designator. (e.g., R1 for Resistor component number 1, A1 for SRA number 1) </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="c:NonBlankString" use="required">
			<xs:annotation>
				<xs:documentation>Defines the type of the part or component being referenced (e.g. WRA, SRA, Component, etc).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Repair">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to capture the type of repair(s) conducted.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RepairActionTaken" type="tr:RepairAction">
				<xs:annotation>
					<xs:documentation>This element identifies the code and description used to describe the type of repair action taken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceDesignator" type="tr:ReferenceDesignator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element identifies the subcomponent of the UUT that was associated with the repair.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element name="ComponentDescription" type="c:ItemDescriptionReference">
						<xs:annotation>
							<xs:documentation>This element identifies the specific item repaired when the serial number of the item is not known.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ComponentInstance" type="c:ItemInstanceReference">
						<xs:annotation>
							<xs:documentation>This element identifies the specific item repaired when the serial number of the item is known</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="Procedure" type="c:Document" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This element shall be used to identify the document containing the procedure required to perform a repair.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="preventive" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>A True/False indication as to whether or not the repair was performed as part of preventative maintenance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RepairAction">
		<xs:annotation>
			<xs:documentation>This element shall be used as the base type of any element providing information on the work performed to restore a part to an operational state</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="c:NonBlankString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text providing additional descriptive data for the value and code attributes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="value" type="sc:RepairCode" use="required">
			<xs:annotation>
				<xs:documentation>The type of repair action that was taken.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>The application specific code for the value attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SessionAction">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to record any action other than a test occurring within the context of a TestResults session, having a specified ActionOutcome.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tr:Action">
				<xs:sequence>
					<xs:element name="ActionOutcome" type="tr:SessionActionOutcome">
						<xs:annotation>
							<xs:documentation>This element shall be used to identify the completion status of a given action.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SessionActionOutcome">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to record the outcome of all actions that took place during the session. These include actions that are not directly part of the test executed, such as human activity If a ATML Test Description instance document is identified by the /TestResults/TestDescription element, then the value of the ‘referenceID’ attribute shall be identical to the value of the ‘ID’ attribute of the Test Description Outcome. Otherwise, this referenceID attribute shall reference the test program entity that generated this outcome, for example: line number, test number, step name, etc.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="value" type="tr:SessionActionOutcomeValue" use="required">
			<xs:annotation>
				<xs:documentation>Shall indicate either "Done", "Aborted". "NotStarted", "UserDefined", or Unknown"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="qualifier" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A user-friendly textual enhancement of the value attribute string.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="referenceID" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A reference to the test program entity that generated this outcome, or the ID of a Test Description outcome.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="forced" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>A True/False indication as to whether or not the outcome was overwritten to achieve a desired state.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Test">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to identify all relevant information related to a single test. This includes input parameters, system or operator events, calibration values and an outcome.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tr:Action">
				<xs:sequence>
					<xs:element name="Outcome" type="tr:Outcome">
						<xs:annotation>
							<xs:documentation>This element shall be used to identify the discrete result of the subject test (i.e., Passed, Failed, Aborted, Not Started, User Defined or Unknown).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Calibration" type="tr:Parameter" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This element shall be used to identify operational calibration information when it is necessary to record calibration values for the system associated with the execution of the test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestLimits" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This element shall be used to identify comparison limits that apply to all test and/or test groups. If more than one Limits child element exists, then the logical expression that combines all limits shall be constructed by taking the first limit (without its operator) and then appending subsequent limits in the order in which they appear in the instance document, each prefixed by its operator. When an instance document contains (1) this element and (2) TestLimits children of any TestResult sibling of this element, then the limits of this element shall apply; the limits defined under TestResult siblings are irrelevant. When an instance document contains (1) a Limits child of a TestGroup element, and (2) Limits descendants of any Test belonging to the TestGroup, then the limits defined for the TestGroup element shall apply; the limits defined by descendants of Tests (Test/TestLimits or Test/TestResult/TestLimits) are irrelevant.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Limits" type="c:Limit" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>This element shall be used to identify the limits against which test data (tr:TestData) is compared to in order to arrive at a test outcome (tr:testOutcome).</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TestResult" type="tr:TestResult" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This element shall be used for the recording of results and other information related to a single occurrence of a test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Extension" type="sc:Extension" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="entryPoint" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>A True/False indication as to whether or not the test represents a test entry point.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="operatingMode" type="c:NonBlankString" use="optional">
					<xs:annotation>
						<xs:documentation>A user-defined value describing the operating mode of the system when generating the specific instance of the test</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="c:ClassifiedAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TestGroup">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to identify a grouping of related tests, test groups, or session actions. TestGroup provides a hierarchical structure for the aggregation of test results data within an Test Results XML instance document. TestGroup is recursive; that is, a TestGroup optionally contains subordinate TestGroup elements. The TestGroup structure shall be used to contain a collection of multiple iterations of a single test, or a related set of tests that the user desires to be reported or captured as a unit. When multiple Test, TestGroup, or SessionAction elements appear, the order of appearance of these elements should correspond to the time sequence order in which the test(s) or action(s) occurred. When the optional Outcome element appears, it shall represent a summary outcome of all subordinate TestGroup elements. Each subordinate TestGroup element may have a separate and distinct Outcome.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tr:Test">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="Test" type="tr:Test">
						<xs:annotation>
							<xs:documentation>This element shall be used to identify a single test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestGroup" type="tr:TestGroup">
						<xs:annotation>
							<xs:documentation>This element shall be used to identify a related set of single tests.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionAction" type="tr:SessionAction">
						<xs:annotation>
							<xs:documentation>This element shall be used to identify the actions that occurred during a test session that are not actual test results.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:attribute name="callerName" type="c:NonBlankString" use="optional">
					<xs:annotation>
						<xs:documentation>This attribute is a place to record which step called this test group in a Test Results document.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TestResult">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to capture test result data, comparison limits and indicted components.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Outcome" type="tr:Outcome" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify the qualitative result of evaluating collected test data against quantitative limits</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="c:NonBlankString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify any descriptive information for the TestResult.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Indictments" type="tr:Indictments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify the group of UUT subcomponents that are the most likely cause of the test failure indicated by the given test result. The final indictment collection in a XML TestResult instance document is the union of all indictments at all levels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to capture data from the test equipment. This may be post-processed data.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="c:Value">
							<xs:attribute name="acquisitionTimeStamp" type="xs:dateTime" use="optional">
								<xs:annotation>
									<xs:documentation>The date and time associated with when the test data was acquired from the test equipment.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TestLimits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify the limits against which test data is compared in order to arrive at a test outcome. If more than one "Limits" child element exists, then the logical expression that combines all limits shall be constructed by taking the first limit (without its operator) and then appending subsequent limits in the order in which they appear in the instance document, each prefixed by its operator.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Limits" type="c:Limit" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This element shall be used to identify the limits against which TestData is compared to arrive at an outcome. Within an XML instance document, these limit values shall only apply to the TestResults branch containing this element. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="ID" type="xs:ID" use="required">
			<xs:annotation>
				<xs:documentation>An identifying name for the TestResult. The value of “ID” shall be unique within the context of the containing XML instance document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>A user-friendly textual name for the TestResult.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TestResults">
		<xs:annotation>
			<xs:documentation>This complex type shall be used to capture all information entities utilized in the collection of the results of testing a UUT on (or within) a particular test station, executing a particular set of tests.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Personnel">
				<xs:annotation>
					<xs:documentation>The Personnel element is a collector for CustomerRepresentative, QualityAssurance and SystemOperator. These child elements shall be used in any use case requiring the identification of these individuals in the Test Results instance document.  If the Personnel element appears in an instance document, at least one child element must appear.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerRepresentative" type="c:Person" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This element shall be used to identify the customer representative whom is witnessing testing or will be signing off on the test results. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="QualityAssurance" type="c:Person" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This element shall be used to identify the quality assurance representative whom will be signing off on the test results.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SystemOperator" type="c:Person">
							<xs:annotation>
								<xs:documentation>This element shall be used to identify the operator performing the testing of the UUT.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Extension" type="sc:Extension" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreTestRepairs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify any repairs made to the UUT prior to performing test(s) on the UUT and is used in the diagnostic process.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="Repair" type="tr:Repair" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>This element shall be used to identify a particular repair made to the UUT prior to the performance of test(s). </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MaintenanceActionInformationDocumentReference" type="c:DocumentReference"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="References" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify any external reference document relevant to a particular test, test group, or complete test program as defined or required by the user.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Reference" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This element shall be used to identify a particular externally referenced item.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="c:Document">
										<xs:attribute name="type" type="c:NonBlankString" use="optional">
											<xs:annotation>
												<xs:documentation>This attribute provides a way to define what the document is that is being referenced</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResultSet" type="tr:TestGroup">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify the quantitative and/or qualitative results, as well as non-test session data; collected during execution of a test or group of tests.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Site" type="c:Organization" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify the physical location at which the test results were collected.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestDescription" type="c:ItemDescriptionReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify an instance document conforming to IEEE-1671.1, which describes the tests that were performed to generate the test results collected in the current Test Results document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestProgram" type="sc:SoftwareInstance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify the specific test program which was used to generate the results data in the TestResults XML instance document. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestStation" type="sc:HardwareInstance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The element is used to identify the specific test station or host system upon which the tests were conducted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UUT" type="c:ItemInstance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to uniquely identify the UUT upon which the test(s) is/are performed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkOrder" type="sc:WorkOrder" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall be used to identify information characterizing the authorization of the testing or maintenance of a system instance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="sc:Extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element shall provide a specific extension point for use cases that require elements not provided in the basic structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="c:DocumentRootAttributes"/>
		<xs:attribute name="name" type="c:NonBlankString" use="optional">
			<xs:annotation>
				<xs:documentation>The name of the instance document. Example: Acme Widget Test Results</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="TestResults" type="tr:TestResults">
		<xs:annotation>
			<xs:documentation>The TestResults element shall be a container for all information entities utilized in the collection of the results of testing a UUT on (or within) a particular test station, executing a particular set of tests. This root element serves as the parent element for all other elements within the Test Results XML schema.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
